form {
margin: 0;
}

form p {
padding-left: 8em;
margin: 1em 0;
}

form label {
float: left;
width: 7em;
margin-left: -8em;
}

form .button {
}


#hkeyp, #indexp, #scorep {
display: none;
}


table {
border-spacing: 0;
border-collapse: collapse;
}

td {
background-color: #eee;
border: 2px solid #fff;
}

.alt td {
background-color: #ccc;
}

td div, th div {
padding: .5em;
}


.imgbut {
vertical-align: middle;
margin-top: -4px;
}


.server {
float: left;
margin: 1em;
}

.exception {
    border: 1px solid #ff0000;
    background-color: rgba(255, 0, 0, 0.2);
    color: #880000;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
